<div class="alert alert-success" role="alert">
    
</div>

<table class="table table-hover">
<thead> 
    <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Pieces</th>
        <th scope="col">Year</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let rec of records" (click)="show(rec)" style="cursor: pointer;">
        <th scope="row">{{rec.id}}</th>
        <td>{{rec.name}}</td>
        <td>{{rec.pieces}}</td>
        <td>{{rec.purchaseYear}}</td>
    </tr>
</tbody>
</table>
