<div class="row align-items-center mt-3">
    <div class="col">
        <h5 *ngIf="toy.id != ''">Edit Toy</h5>
        <h5 *ngIf="toy.id == ''">Create Toy</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <input formControlName="id" type="hidden"/>

            <div class="mb-3">
                <label for="theme" class="form-label">Theme</label>
                <select formControlName="theme" class="form-select">
                    <option value="City">City</option>
                    <option value="Duplo">Duplo</option>
                    <option value="Ideas">Ideas</option>
                    <option value="Star Wars">Star Wars</option>
                    <option value="Technic">Technic</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Name <span style="margin-left: 5px; font-weight: bold;">*</span></label>
                <input formControlName="name" class="form-control" [ngClass]="fieldErrors['name']? 'is-invalid': ''">
                <div class="invalid-feedback">{{fieldErrors['name']}}</div>
            </div>

            <div class="mb-3">
                <label for="model" class="form-label">Model <span style="margin-left: 5px; font-weight: bold;">*</span></label>
                <input formControlName="model" class="form-control" [ngClass]="fieldErrors['model']? 'is-invalid': ''">
                <div class="invalid-feedback">{{fieldErrors['model']}}</div>
            </div>

            <div class="mb-3">
                <label for="pieces" class="form-label">Pieces <span style="margin-left: 5px; font-weight: bold;">*</span></label>
                <input formControlName="pieces" class="form-control" [ngClass]="fieldErrors['pieces']? 'is-invalid': ''">
                <div class="invalid-feedback">{{fieldErrors['pieces']}}</div>
            </div>

            <div class="mb-3">
                <label for="purchaseYear" class="form-label">Year <span style="margin-left: 5px; font-weight: bold;">*</span></label>
                <input formControlName="purchaseYear" class="form-control" [ngClass]="fieldErrors['purchaseYear']? 'is-invalid': ''">
                <div class="invalid-feedback">{{fieldErrors['purchaseYear']}}</div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location <span style="margin-left: 5px; font-weight: bold;">*</span></label>
                <input formControlName="location" class="form-control" [ngClass]="fieldErrors['location']? 'is-invalid': ''">
                <div class="invalid-feedback">{{fieldErrors['location']}}</div>
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Save</button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="showList()">Cancel</button>
            </div>            
        </form>
    </div>
</div>
